.form-wrapper {
  padding: 1rem 92px;
}
.space_btn {
  padding-top: 100px;
  padding-bottom: 30px;
}
.space_btn2 {
  padding-top: 509px;
  padding-bottom: 30px;
}
// visibility button
.psw_visibilty {
  position: relative;
}
.visibilty_btn {
  position: absolute;
  top: 0;
  right: 12px;
}
//
.im-user {
  text-align: center;
}
.k_form_group {
  margin-bottom: 20px;
}
.kk_input_field {
  font-weight: 400;
  line-height: 20px;
  font-size: 15px;
  text-decoration: inherit;
  text-transform: inherit;
  border: none;
  padding: 10px 11px;
  border-radius: 5px;
  width: 181px;
  height: 40px;
  background: none;
  color: $secondary;
  outline: 1px solid $borderColor;
  &:hover {
    outline: 1px solid $primary;
    outline-offset: 0px;
  }
  &:focus {
    outline: 2px solid $primary;
    outline-offset: 0px;
    border-radius: 0;
    box-shadow: none;
  }
}
.k_inp_field {
  font-weight: 400;
  line-height: 20px;
  font-size: 15px;
  text-decoration: inherit;
  text-transform: inherit;
  border: none;
  padding: 10px 11px;
  border-radius: 5px;
  background: none;
  color: $secondary;
  outline: 1px solid $borderColor;
  &:hover {
    outline: 1px solid $primary;
    outline-offset: 0px;
  }
  &:focus {
    outline: 2px solid $primary;
    outline-offset: 0px;
    border-radius: 0;
    box-shadow: none;
  }
}

.k_input_update_field {
  font-size: 20px;
  font-weight: 700;
  color: #222b45;
  text-decoration: inherit;
  text-transform: inherit;
  border: none;
  padding: 10px 11px;
  width: 181px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  outline: 1px solid #e4e9f2;
  &:hover {
    outline: 1px solid #e4e9f2;
    outline-offset: 0px;
  }
  &:focus {
    outline: 2px solid #e4e9f2;
    outline-offset: 0px;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
  }
}
// remove arrow keys number type
.k_inp_number {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
// half inp size
.k_inp_half {
  width: 50%;
}
.is-invalid {
  outline: 2px solid $negative;
  outline-offset: 0px;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  &:hover {
    outline: 2px solid $negative;
    outline-offset: 0px;
    box-shadow: none;
  }
  &:focus {
    outline: 2px solid $negative;
    outline-offset: 0px;
    border-radius: 0;
    border: 0;
    box-shadow: none !important;
  }
}
.invalid-feedback {
  color: $negative;
  font-size: 14px;
  font-weight: 400;
}
// text_editor
.text_editor_wrap {
  .ck.ck-editor__main {
    .ck-focused {
      border: 1px solid $primary !important;
    }
    &.ck-focused {
      border: 1px solid $primary !important;
    }
  }
  .ck-focused {
    border: 1px solid $primary !important;
  }
}
// date Picker {
.date_label {
  position: absolute;
  padding: 8px;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  color: #8f9bb3;
}
.project_date_picker {
  .dp__input_wrap {
    .dp__clear_icon {
      display: none !important;
    }
  }
  .dp__input {
    text-align: right;
    padding: 8px 40px;

    &::placeholder {
      color: #222b45;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #222b45;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #222b45;
    }
  }

  .dp__input_icon {
    position: absolute;
    top: 50%;
    left: inherit;
    right: 0 !important;
    transform: translateY(-50%);
    color: #8f9bb3;
  }
}
.dp__select {
  color: #7900d8;
}
.dp__overlay_cell_active {
  background-color: $primary;
  border: 1px solid $primary;
  color: $white;
}
.dp__button {
  display: none;
}
.dp__action_row {
  // display: none;
}
.dp__today {
  background-color: transparent !important;
  border: 1px solid #7900d8 !important;
  color: $heading !important;
}
.dp__today {
  background-color: $primary;
  border: 1px solid $primary;
  color: $heading;
  &.dp__date_hover {
    background-color: $primary;
    border: 1px solid $primary;
    color: $white;
  }
}
.dp__active_date {
  background-color: $primary;
  color: $white;
}
.dp__input {
  font-weight: 600;
  line-height: 23px;
  font-size: 15px;
  text-decoration: inherit;
  text-transform: inherit;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  background: none;
  color: #222b45;
  outline: 1px solid $borderColor;
  &:hover {
    outline: 1px solid $primary;
    outline-offset: 0px;
  }
  &:focus {
    outline: 2px solid $primary;
    outline-offset: 0px;
    border-radius: 0;
    box-shadow: none;
  }
}
.is-invalid {
  .dp__input {
    outline: 2px solid #db2c66 !important;
    &:hover {
      outline: 1px solid #db2c66 !important;
      outline-offset: 0px;
    }
    .dp__input:focus {
      outline: 2px solid #db2c66 !important;
      outline-offset: 0px;
      border-radius: 0;
      box-shadow: none;
    }
  }
}
//////////////////////DatePicker////////////////@at-root
.invalid_error {
  .dp__input {
    outline: 2px solid #db2c66 !important;
    outline-offset: 0px;
    border-radius: 0;
    box-shadow: none;
    &:focus {
      outline: 2px solid #db2c66 !important;
      outline-offset: 0px;
      border-radius: 0;
      box-shadow: none;
    }
  }
  // .dp__input
}
.invalid_feedback {
  padding-top: 2px;
  color: #db2c66;
  font-size: 14px;
  font-weight: 400;
}
//////////////////phone number /////////////////@at-root
.phone_main_wrap {
  width: 90%;
  float: right;
}
.cus_ph_inp {
  padding-left: 5rem !important;
  border-radius: 0 4px 4px 0 !important;
  padding-left: 5rem;
}
.country_flag {
  width: 2rem;
  position: relative;
  top: 16%;
  left: 0%;
}
.country_code_wrap {
  position: absolute;
  top: 0px;
  left: 14%;
  background: transparent !important;
  width: auto;
  height: 42px;
}
.country_code {
  font-style: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 11%;
  bottom: 0;
  padding: 5px;
  z-index: 9;
}
.country_flag_wrap {
  width: 10%;
  float: left;
  background-color: #ced4da;
  text-align: center;
}
