// sweetAlert
.swal2-styled.swal2-confirm {
  background-color: #7900d8 !important;
}
.swal2-title {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0.2em 1em 0;
  color: inherit;
  font-size: 1.65em;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}
