.c_logo_container {
  width: 100px;
  height: 100px;
  cursor: pointer;
  line-height: 100px;
  border: 1px solid #e4e9f2;
  border-radius: 50%;
  display: inline-block;
  text-align: center;

  .upload_logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -2px;
  }
}
.spinner-border {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.svg_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
