.custom_acc {
  .acc_item {
    border: 0;
  }
  .k_acc_btn {
    padding: 15px 18px 15px 2px;

    box-shadow: none;
    background-color: transparent;
    border: 0;
    &:active {
      box-shadow: none;
      background-color: transparent;
      border: 0;
      &:focus {
        box-shadow: none;
        background-color: transparent;
        border: 0;
      }
    }
    &:hover {
      box-shadow: none;
      background-color: transparent;
      border: 0;
    }
    &:focus {
      box-shadow: none;
      background-color: transparent;
      border: 0;
    }
  }
}
.acc_sub_item {
  border: 0;
  background-color: #f7f9fc;
  margin-bottom: 10px;
}
.k_acc_sub_btn {
  padding: 12px 18px;
  box-shadow: none !important;
  background-color: #f7f9fc !important;
  border: 0;
  &:active {
    box-shadow: none;
    background-color: #f7f9fc;
    border: 0;
    &:focus {
      box-shadow: none;
      background-color: #f7f9fc;
      border: 0;
    }
  }
  &:hover {
    box-shadow: none;
    background-color: #f7f9fc;
    border: 0;
  }
  &:focus {
    box-shadow: none;
    background-color: #f7f9fc;
    border: 0;
  }
}
