.k_btnfs14_w700 {
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  padding: 9px 12px;
  text-transform: uppercase;
}
button[disabled] {
  cursor: not-allowed;
  pointer-events: all !important;
}
.btn-light {
  background-color: #edf1f7;
  color: $heading;
  &:hover {
    background-color: #edf1f7;
    box-shadow: none;
    border-color: #edf1f7;
    outline: none;
  }
  &:focus {
    background-color: #edf1f7;
    box-shadow: none;
    border-color: #edf1f7;
    outline: none;
  }
  &:active {
    background-color: #edf1f7;
    box-shadow: none !important;
    outline: none;
    border-color: #edf1f7;
    &:focus {
      background-color: #edf1f7;
      box-shadow: none;
      border-color: #edf1f7;
      outline: none;
    }
  }
}
.btn-primary {
  background-color: $primary;
  color: $white;
  border-color: $primary;
  &:hover {
    background-color: $primary;
    box-shadow: none;
    border-color: $primary;
    outline: none;
  }
  &:focus {
    background-color: $primary;
    box-shadow: none;
    border-color: $primary;
    outline: none;
  }
  &:active {
    background-color: $primary;
    box-shadow: none !important;
    outline: none;
    border-color: $primary;
    &:focus {
      background-color: $primary;
      box-shadow: none;
      border-color: $primary;
      outline: none;
    }
  }
  &:disabled {
    background-color: $primary;
    color: $white;
    border-color: $primary;
  }
}
.btn_primary_transparent {
  background-color: transparent;
  color: $primary;
  border-color: transparent;
  padding: 0;
  &:hover {
    color: $primary;
    background-color: transparent;
    box-shadow: none;
    color: $primary;
    border-color: transparent;
    outline: none;
  }
  &:focus {
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
    outline: none;
  }
  &:active {
    background-color: transparent;
    box-shadow: none !important;
    outline: none;
    color: $primary;
    border-color: transparent;
    &:focus {
      background-color: transparent;
      box-shadow: none;
      color: $primary;
      border-color: transparent;
      outline: none;
    }
  }
}
.btn-transaprent {
  background-color: transparent;
  color: $primary;
  border-color: transparent;
  padding: 0;
  &:hover {
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
    outline: none;
  }
  &:focus {
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
    outline: none;
  }
  &:active {
    background-color: transparent;
    box-shadow: none !important;
    outline: none;
    border-color: transparent;
    &:focus {
      background-color: transparent;
      box-shadow: none;
      border-color: transparent;
      outline: none;
    }
  }
}
.k-letter-btn {
  border: 1px solid #d1d9e9;
  box-sizing: border-box;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #222b45;
  margin-bottom: 10px;
  &:hover {
    background-color: $white;
    box-shadow: none;
    border: 1px solid #d1d9e9;
    outline: none;
  }
  &:focus {
    background-color: $primary;
    box-shadow: none;
    color: $white;
    border-color: $primary;
    outline: none;
  }
  &:active {
    background-color: $primary;
    box-shadow: none !important;
    outline: none;
    color: $white;
    border-color: $primary;
    &:focus {
      background-color: $primary;
      box-shadow: none;
      color: $white;
      border-color: $primary;
      outline: none;
    }
  }
}
// pill buttons
.btn-pill-primary {
  font-size: 14px;
  font-weight: 500;
  color: $primary;
  background-color: $white;
  border-color: $primary;
  border: 1px solid $primary;
  border-radius: 12px;
  padding: 4px 13px;
  line-height: 16px;
  text-transform: lowercase;
  &:hover {
    background-color: $white;
    box-shadow: none;
    color: $primary;
    border-color: $primary;
    outline: none;
  }
  &:focus {
    background-color: $primary;
    box-shadow: none;
    color: $white;
    border-color: $primary;
    outline: none;
  }
  &:active {
    background-color: $primary;
    box-shadow: none !important;
    outline: none;
    color: $white !important;
    border-color: $primary;
    &:focus {
      background-color: $primary;
      box-shadow: none;
      color: $white !important;
      border-color: $primary;
      outline: none;
    }
  }
  // &:enabled {
  //   background-color: $primary;
  //   box-shadow: none !important;
  //   outline: none;
  //   color: $white;
  //   border-color: $primary;
  // }
}
.btn-basic-3 {
  background-color: $basic-3;
  color: $black;
  border-color: $basic-3;
  &:hover {
    background-color: $basic-3;
    box-shadow: none;
    border-color: $basic-3;
  }
  &:focus {
    background-color: $basic-3;
    box-shadow: none;
    border-color: $basic-3;
  }
  &:active {
    background-color: $basic-3;
    box-shadow: none !important;

    border-color: $basic-3;
    &:focus {
      background-color: $basic-3;
      box-shadow: none;
      border-color: $basic-3;
    }
  }
}
.eye_btn {
  .eye_icon {
    color: #8f9bb3;
  }
  &:hover {
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
    outline: none;
  }
  &:focus {
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
    outline: none;
  }
  &:active {
    background-color: transparent;
    box-shadow: none !important;
    outline: none;
    border-color: transparent;
    &:focus {
      background-color: transparent;
      box-shadow: none;
      border-color: transparent;
      outline: none;
    }
  }
}
.k_btn_block {
  font-weight: 700;
  line-height: 16px;
  font-size: 14px;
  padding: 11px 8px;
  box-shadow: none;
  &:hover {
    background-color: $primary;
    box-shadow: none;
    border-color: $primary;
    outline: none;
  }
  &:focus {
    background-color: $primary;
    box-shadow: none;
    border-color: $primary;
    outline: none;
  }
  &:active {
    background-color: $primary;
    box-shadow: none !important;
    outline: none;
    border-color: $primary;
    &:focus {
      background-color: $primary;
      box-shadow: none;
      border-color: $primary;
      outline: none;
    }
  }
  &:disabled {
    background-color: $primary;
    box-shadow: none !important;
    outline: none;
    border-color: $primary;
    &:focus {
      background-color: $primary;
      box-shadow: none;
      border-color: $primary;
      outline: none;
    }
  }
}

.kbtn-primary-inverse {
  color: $black;
  background-color: $white;
  &:hover {
    color: $primary;
    background-color: $primary-light;
  }
  &.kActive {
    color: $white;
    background-color: $primary;
  }
}
.kbtn-primary {
  color: $white;
  background-color: $primary;
  &:hover {
    color: $primary;
    background-color: $white;
  }
}
.btns_wrap {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.bg_light {
  background-color: #f7f9fc;
}
.btn-set {
  font-weight: 700;
  font-size: 14px;
  // width: 140px;
  height: 40px;
}
