// authentication layout
.right_scroll {
  height: 100vh;
  overflow: auto;
  @include scrollbar(
    $width: 0px,
    $height: 20rem,
    $border-radius: 10px,
    $background-color: #ffffff // $background-color: #b2bac7bd
  );
}
.section_heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 25px;
  color: #000000;
}
.step_title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #7900d8;
}
.custom_brand_logo {
  margin-bottom: 6rem;
}
.stepper_withlogo {
  margin-bottom: 3rem;
}
// company modal
.confidencil_msg_body {
  height: 20rem;
  overflow-y: scroll !important;
  @include scrollbar(
    $width: 0px,
    $height: 20rem,
    $border-radius: 10px,
    $background-color: #0000 // $background-color: #b2bac7bd
  );
}
// otp modal
.set_modal_width {
  width: 25rem;
  border: 1px solid rgb(255, 255, 255) !important;
  box-shadow: 0px 10px 15px rgba(169, 180, 208, 0.89) !important;
}
.update_email_body {
  padding: 24px !important;
}
.custom_modal_email {
  overflow: hidden;
  position: fixed;
  top: 30vh;
  left: -22vw;
}
.auth_verify_account .modal-backdrop.fade.show {
  background-color: #ffffff;
  opacity: 0;
}
.file_upload_modal .modal-backdrop.fade.show {
  background-color: transparent;
  opacity: 0;
}
.file_upload_modal {
  .team_modal {
    overflow: none;
    overflow: hidden;
    position: fixed;
    top: 7vh;
    left: 7vw;
    .invitation_dialog {
      // max-width: 50%;
      // margin: 80px auto;
      // margin-right: 251px;
    }
  }
  // .confirmation_modal {
  //   overflow: hidden;
  //   position: fixed;
  //   top: 7vh;
  //   left: 7vw;
  // }
}
////////////////
.main_layout_container {
  background-color: $body;
  display: flex;

  .main_layout_sidebar {
    // width: 20.6%;
  }
  .main_layout_body {
    width: 100%;
    margin-left: 280px;
    text-align: left;
    min-height: 100vh;
    overflow-y: scroll;
    height: 92vh;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 0px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #aab4c5bd !important;
      border-radius: 10px;
    }
  }
}
.pages_view_container {
  padding: 25px 28px 0 20px;
  margin-top: 60px;
}
.Fte {
  .vue-apexcharts {
    width: 80px;
    svg {
      width: 150px;
      height: 100px;
    }
  }
}
//header
.left-header {
  display: flex;
}
.header_select {
  font-weight: 400;
  line-height: 20px;
  font-size: 15px;
  text-decoration: inherit;
  text-transform: inherit;
  border: none;
  padding: 10px 11px;
  border-radius: 0;
  background: none;
  color: $secondary;
  outline: 0;
  &:hover {
    outline: 0;
    outline-offset: 0px;
  }
  &:focus {
    outline: 0;
    outline-offset: 0px;
    border-radius: 0;
    box-shadow: none;
  }
}
// Page View
.view_title {
  font-size: 32px;
  font-weight: 700;
  color: #222b45;
  margin-bottom: 0;
}

// custom grid
.custom_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  .custom_grid_col {
    margin-bottom: 20px;
  }
  &:nth-child(4) {
    margin-right: 0 !important;
  }
}
// custom grid
.custom_grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .custom_grid_col {
    margin-bottom: 20px;
  }
  &:nth-child(3) {
    margin-right: 0 !important;
  }
}
// custom grid
.custom_grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .custom_grid_col {
  }
  &:nth-child(2) {
    margin-right: 0 !important;
  }
}
// Height Chart
.vue-highcharts {
  width: 100%;
  height: 150px;
  // margin: 0 -12px;
  .highcharts-xaxis-labels,
  .highcharts-axis-labels {
    display: none !important;
  }
}
.highcharts-xaxis-labels,
.highcharts-axis-labels {
  display: none !important;
}
.k-high-chart {
  width: 100% !important;
  margin: -10px -27px !important;
}
.Fte {
  .vue-apexcharts {
    width: 160px;
  }
}
// select to
.select_wrap_invite {
  width: 100% !important;

  .select2-container {
    width: 100% !important;
  }
}
// .invitation_dialog {
//   max-width: 50%;
//   margin: 80px auto;
//   margin-right: 251px;
// }
