.k_select_single {
  .multiselect-tag {
    background-color: $basic;
    color: $white;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  .multiselect-tags {
    margin-top: 0;
  }
  .multiselect {
    &.is-open {
      box-shadow: none;
      border: 0;
    }
    &.is-active {
      box-shadow: none;
      border: 0;
    }
    .multiselect-clear {
      display: none;
    }
    .multiselect-dropdown {
      background-color: $white !important;
      .is-selected {
        background: $primary;
        background-color: $primary;
        color: $white;
      }
      .is-pointed {
        background: $primary-light;
        background-color: $primary-light;
        color: $primary;
      }
    }
  }
}
.comp_select {
  width: 18rem;

  .multiselect-single-label {
    color: $heading;
    font-size: 15px;
    font-weight: 500;
    .character-label-icon {
      width: 36px;
      // height: 24px;
      padding-right: 8px;
    }
  }
  .character-option-icon {
    width: 36px;
    // height: 24px;
    padding-right: 8px;
  }
  .multiselect {
    border: 0;
    &.is-open {
      box-shadow: none;
      border: 0;
    }
    &.is-active {
      box-shadow: none;
      border: 0;
    }
    .multiselect-clear {
      display: none;
    }
    .multiselect-dropdown {
      @include scrollbar(
        $width: 5px,
        $height: 15rem,
        $border-radius: 10px,
        $background-color: #b2bac7bd
      );
      background-color: $white !important;
      .is-selected {
        background: $primary;
        background-color: $primary;
        color: $white;
      }
      .is-pointed {
        background: $primary-light;
        background-color: $primary-light;
        color: $primary;
      }
    }
  }
}
.comp_year_select {
  width: 110px;
  .multiselect-single-label {
    color: $heading;
    font-size: 15px;
    font-weight: 500;
  }
  .multiselect {
    border: 0;
    &.is-open {
      box-shadow: none;
      border: 0;
    }
    &.is-active {
      box-shadow: none;
      border: 0;
    }
    .multiselect-clear {
      display: none;
    }
    .multiselect-dropdown {
      background-color: $white !important;
      .is-selected {
        background: $primary;
        background-color: $primary;
        color: $white;
      }
      .is-pointed {
        background: $primary-light;
        background-color: $primary-light;
        color: $primary;
      }
    }
  }
}
// select2 with chips
.select2-results__options {
  display: none !important;
}
.select2-container--default .select2-selection--multiple {
  padding: 4px;
}
.select2-container--default {
  .select2-results__option {
    border: 1px solid #e4e9f2;
    color: #222b45;
    font-size: 14px;
    font-weight: 400;
  }
  .select2-selection__clear {
    font-size: 22px;
    line-height: 20px;
    margin-top: 9px !important;
  }
  .select2-selection--multiple {
    border: 1px solid #e4e9f2 !important;
    .select2-selection__choice {
      background-color: #edf1f7;
      font-size: 14px;
      font-weight: 500;
      color: #222b45;
      border-radius: 12px;
      border: 1px solid #e4e9f2;

      cursor: default;
      float: left;
      margin-right: 5px;
      margin-top: 6px;
      padding: 1px 1px 1px 10px;
    }
    .select2-selection__choice__remove {
      font-size: 19px;
      line-height: 21px;
      float: right;
      margin: 0 5px;
      color: #222b45;
      &:hover {
        color: #222b45;
      }
    }
  }
}

.select2-dropdown {
  border: 1px solid #e4e9f2;
}
// select country Codes
.country_codes {
  background: #edf1f7 !important;
  border-radius: 4px;
  width: 75px;
  height: 46px;
  &.multiselect {
    border: transparent !important;
  }
  .multiselect-caret {
    margin-right: 0;
  }
  &:hover {
    outline: 1px solid #edf1f7 !important;
    outline-offset: 0px;
  }
  &:focus {
    outline: 1px solid #edf1f7 !important;
    outline-offset: 0px;
  }
}

// box height
.multiselect-options {
  max-height: 20rem !important;
}
.multiselect-dropdown {
  max-height: 20rem !important;
  @include scrollbar(
    $width: 5px,
    $height: 20rem,
    $border-radius: 10px,
    $background-color: #b2bac7bd
  );
}
