.k_toggle {
  text-align: left;
  .toggle-container {
    .toggle-handle {
      width: 15px;
      height: 15px;
    }
    .toggle {
      width: 32px;
      height: 16px;
    }
    .toggle-on {
      border-color: $primary;
      outline: $primary;
      background-color: $primary;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .toggle_label {
    font-size: 14px;
    font-weight: 600;
    color: $heading;
  }
}
// Modal For Confidencial Infomation
.conf_header {
  padding: 5px;
  border-bottom: 0;
  background: #edf1f7;
  border-radius: 4px 4px 0px 0px;
}
.confidencil_msg_body {
  padding: 17px 34px 4px 34px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 79.69%,
    #ffffff 100%
  );
  border-radius: 4px;
}
.modal_footer {
  padding: 8px 34px 34px 34px;
  display: block;
  border-top: 0;
}
