$primary: #7900d8;
$primary-light: rgba(121, 0, 216, 0.1);

$secondary: #8f9bb3;
$accent: #9c27b0;
// kk Color
$light: #dadada;
$black: #000000;
$success: #0aca8a;
$warn: #ffaa00;
$heading: #222b45; //Category  Color
$borderColor: #d1d9e9; //border-color
$cardShadow: 0px -2px 25px rgba(178, 187, 211, 0.1);
$gray-1: #f2f2f2; //Question-list drawyer
$scrollbarColor: #8f9bb3;
//kk
$body: #f7f9fc;
//black
$black-1: #231f20;
//BASIC
$basic: #8f9bb3; // default to 600 color pallete
$basic-2: #f7f9fc;
$basic-3: #edf1f7; //grid-border color
$basic-4: #e4e9f2;
// $basic-5: #d1d9e9;
$basic-7: #2e3a59;
// $basic-8: #222b45; //Category  Color

$grey-1: #edf1f7;
//DARK
$dark: #101426;

$positive: #00b283;
$negative: #db2c66;
$info: #42aaff;
$warning: #db8b00;

$white: #ffffff;

$input-height: 40px;
$tabs-color: #f9f9f9;

$test: #a484bc;
