.brand-logo-size {
  width: 220px;
  height: 60px;
}
.brand-logo-wrapper {
  margin-top: 40px;
}
.main-heading-wrap {
  // margin-top: 134px;
  // margin-top: 26px;
  // margin-bottom: 68px;
  /////////////////
  // margin-top: 1.2rem;
  // margin-bottom: 3rem;
}
.main-heading {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: #222b45;
  margin: 0 !important;
}
.question-wrapper {
}
.progressbar-wrapper {
  padding: 16px 0;
}
.quiz-screen-wrapper {
  padding: 0 20px;
}
.sidebar-logo-wrapper {
  padding: 16px;
}
.question-list-wrapper {
  padding: 14px 10px;
}
